{% extends 'mobile/_base_layout/base.html.twig' %}

{% block importmap %}
    {{ importmap(['mobile-base-layout', 'mobile-dashboard-home']) }}
{% endblock %}

{% block body %}
    <p>管理画面！！</p>
{% endblock %}