{% extends 'mobile/_base_layout/base.html.twig' %}

{% block importmap %}
    {{ importmap(['mobile-base-layout', 'mobile-dashboard-home']) }}
{% endblock %}

{% block body %}
    <p>管理画面！！</p>
    <br>
    <a href="{{ path('expense_category_index') }}">費目カテゴリ管理</a>
    <br>
    <a href="{{ path('expense_payment_category_index') }}">決済カテゴリ管理</a>
{% endblock %}