<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {# {% block importmap %}
            {{ importmap(importfile) }}
        {% endblock %} #}
    </head>
    <body>
        <header>
            {% block header %}
                <p>共通のヘッダー</p>
            {% endblock %}
        </header>

        {% block body %}
        {% endblock %}
        
        <footer>
            {% block footer %}
                <p>共通のフッター</p>
            {% endblock %}
        </footer>
    </body>
</html>
